
body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #8f8f8f;
  margin: 0;
}

/* Headings */

.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

.kontakt{padding: 3% 15%;}

/* Sections */

.colored-section {
  background-color: #D83A56;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.0rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 10px;

}

.nav-link {
  font-size: 1.1rem;
  font-family: "Ubuntu";

}

.navbar-dark .nav-item .nav-link {
    color: white;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #D83A56;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.description{color: white; padding-top: 3%; line-height: 1.5;}
/* Title Image */

.title-image {
  width: 370px;
  border-radius: 100%;
  margin-left: 25%;

}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
}

.icon {
  color: #D83A56;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}



/* Testimonial Section */

#testimonials {
  background-color: #D83A56;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 100%;
  padding: 7% 15%;

}





/* Pricing Section */



/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    margin-left: 0;
    margin-top: 5%;
  }
}

.dot {font-size: 10px; margin: 5px;}
.scissor{font-size: 30px; margin-left: 20px;}
#pricing{padding: 7% 15%;}
table .first-row{text-align: left;}
table td{padding-bottom: 2%;}
.Preisliste{font-family: 'Montserrat', sans-serif; padding-bottom: 6rem; font-size: 2.5rem; color: black; text-align: left;}
